.side_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--secondary-color);
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);

.sidebar_icon {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    
    &:focus {
      outline: none;
    }
    
    .icon {
      transition: all 0.3s linear;
      position: relative;
      transform-origin: 1px;
    }
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;


.side_link {
    font-size: 1.5rem;
    padding: 1.5rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: #425466;
    text-decoration: none;
    transition: color 0.3s linear;
    
    @media ( max-width: 768px ) {
      font-size: 1rem;
      text-align: center;
    }

    &:hover {
      background: rgba(184, 226, 222, 0.4);
    }
}
}
}