
.form_section {
    height: 100%;

.form_container {
    height: 80vh;
    margin: 3rem 2rem;
}

.form_links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0;
}
}