.talent_section {
    height: 100%;

.talent_container {
    height: 80vh;
    padding: 2rem 0;

.talent_content {
    padding: 0 3rem;

    p {
        font-weight: 400;

    span {
       color: var(--secondary-color);
       font-weight: 600;
    }
    }


.talent_icon {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    color: var(--tertiary-color);
    animation: talent_icon 0.5s alternate ease infinite; 
}

@keyframes talent_icon {
    from {
        transform: translateY(2px);
    }
    to {
        transform: translateY(-1px);
    }
}
}
}
}