.section {
    background: url('../../assets/images/map.svg') no-repeat center/cover;
    object-fit: cover;
    height: 100%;
    width: 100%;

.overlay{
    background: rgba(247, 247, 247, 0.8);
    height: 100%;
}
   
.carousel_container {
    height: 80vh;
    padding: 2rem 0;

.carousel {
    background: transparent !important;

.carousel_content {
    padding: 3rem 1rem;
    margin: 2rem 0;

span {
    font-size: 3rem;
}
}
}
}
}