.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0;
    height: 80vh;
    letter-spacing: 1px;
    color: var(--text-color);

.hero_content {
   
h1 {
    font-size: 5rem;
    font-weight: 600;
}

h4 {
    padding: 1rem 0;
    color: #5e709d;
    font-size: 1.2rem;
}
}
}