.hero_container {
    text-align: left;
    padding: 6rem 0;
    letter-spacing: 1px;
    color: var(--text-color);

.hero_content {
   padding-left: 1rem;
   
h1 {
    font-size: 4.5rem;
    font-weight: 600;
}

h4 {
    padding: 1rem 0;
    color: #5e709d;
    font-size: 1.2rem;
}
}
}