.about_section {
    height: 100%;

.about_content {
    height: 50vh; 
    
    h5 {
        font-weight: 400;
        font-size: 1.2rem;
        padding: 0 1rem;

    span {
       color: var(--secondary-color);
       font-weight: 600;
    }
    }

.about_icon {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    color: var(--tertiary-color);
    padding-bottom: 1rem;
    animation: about_icon 0.5s alternate ease infinite; 
}

@keyframes about_icon {
    from {
        transform: translateY(2px);
    }
    to {
        transform: translateY(-1px);
    }
}
}
}
