.custom_btn {
    background: var(--secondary-color);
    // background-image: linear-gradient(to right, #41e4cb , #3fc2e0);
    color: var(--body);
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: 3px 5px 13px -3px rgba(26,20,20,0.51);
    transition: 0.7s all ease;

    &:hover {
        box-shadow: none; 
        transition: 0.7s all ease;
    }
}