footer {
    background: var(--text-color);
    color: #cdcdcd;
    height: 100%;

.footer_content {
    padding: 2rem;

    .footer_logo {
        margin: 0 2rem;
    }
       
    h5 {
        color: #5e709d;
        font-weight: bold;
        cursor: pointer;
    }

    ul {
        padding: 0.8rem 0;

    li {
        list-style: none;
        cursor: pointer;

    &:hover {
        color: #fefefe;
    }
    }
    }

.community {
    li {
        padding: 0 1rem 0 0;
        font-size: 1.5rem;
    }
}
}

   
}