.process {
    background: var(--primary-color);

.process_header {
    p {
        padding-top: 3rem;
        color: var(--secondary-color);
        font-weight: 600;
    }
    
    h4 {
        color: var(--accent-color);
    }
}
}

.process_container {
    height: 100%;
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;

.process_content {
    border-radius: 10px;
    border: 1px solid #425466;
    width: 300px;
    height: 300px;
    padding: 1rem;
    margin: 10px;
    text-align: center;

span {
    color: var(--secondary-color);
    font-size: 3rem;
}
}
}

.process_text {
    h5 {
        color: #c6c6c6;
        font-weight: bold;
        padding: 1.5rem 0;
    }

    p {
        color: var(--body) !important; 
    }
}
