
:root {
  --primary-color: #fff;
  --secondary-color: #b8e2de;
  --accent-color: #f9fdff;
  /* --text-color: #5e709d; */
  --text-color: #1e1e2c;
}

html, body {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--primary-color) !important;
  color: #425466;
}


/* .logo {
  font-family: 'Major Mono Display', monospace;
} */

.logo {
  font-family: 'Patua One', cursive;
  font-size: 1.5rem;
  background: var(--secondary-color);
  background-image: linear-gradient(to right, #41e4cb , #3fc2e0);
  color: var(--primary-color);
  padding: 5px 10px;
}